body {
    margin: 0;
    padding: 0;


}

h1 {
    font-size: 35px;
    color: rgb(25, 104, 223);
}


ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: #333;

}

input {
    outline: none;
    width: 245px;
    height: 45px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    width: 65px;
    height: 45px;
    border: 0;
}

button:hover {
    background-color: rgb(129, 127, 132);
    color: rgb(214, 151, 69);
}